@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");
@import url("https://use.typekit.net/ila5ioj.css");

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.025em;
  margin: 0;

  /* gold font color : rgb(222,183,77)
  blue color: rgb(24, 42, 78)
  gold background color: rgb(239,192,111) 
  white: rgba(255, 255, 255, 0.95)*/
}

.content {
  margin: 0 15%;
}

h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* .sub_title {
  font-size: 37px;
  align-items: center;
  display: flex;
  flex-direction: column;} */

  /* Header */

  #header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
  }

  #header h3 {
    position: absolute;
    left: 1em;
    top: 0;
    height: 3em;
    line-height: 3em;
    margin: 0;
    font-weight: 900;
  }

  #header h3 a {
    font-size: 1.25em;
    text-decoration: none;
    color: rgb(24, 42, 78);
    font-weight: 900;
  }

  #header nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
  }

  #header nav ul {
    margin: 0;
  }
  #header nav ul li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
  }

  #header nav ul li a {
    display: block;
    color: rgb(24, 42, 78);
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
  }

  @media screen and (max-width: 736px) {
    #header {
      height: 2.5em;
      line-height: 2.5em;
    }

    #header h1 {
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      height: 2.5em;
      line-height: 2.5em;
    }

    #header h1 a {
      font-size: 1em;
    }

    #header nav {
      display: none;
    }
  }

  body {
    padding-top: 3em;
  }

  @media screen and (max-width: 736px) {
    body {
      padding-top: 2.5em;
    }
  }

  #intro {
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/professional-skilled-female-architect-has-telephone-conversation-with-colleague-concentrated-into-papers-prepares-engineering-project-drinks-coffee-poses-coworking-space-busy-woman-engineer_273609-50626.jpg?t=st=1652114534~exp=1652115134~hmac=1f6eda0319e4141328775f5b503f2ae374784c6ec347170c238141c269e69f12&w=1800");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(24, 42, 78, 0.75); /* Tint color */
    background-blend-mode: multiply;
    border-bottom-left-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #intro .content {
    display: flex;
    flex-direction: column;
  }
  .intro_header {
    color: rgb(239, 192, 111);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
  }
  .intro_header h3 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    margin: 0;
  }

  /* About */
}
.about_text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about_text_one,
.about_text_two {
  font-family: all-round-gothic, sans-serif;
  font-weight: 100;
  width: 50vw;
}

.about_text_one {
  background-color: rgb(24, 42, 78);
  color: rgb(239, 192, 111);
}
.about_text_two {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 192, 111);
  color: rgb(24, 42, 78);
}

/* services */
#services {
  margin: 500px;
}

/* Contact */

#contact {
  background: rgb(239, 192, 111);
  overflow: hidden;
  padding-bottom: 0;
}

#contact .box {
  background: rgba(249, 234, 207, 0.325);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;

  transition: transform 1s ease;
  transform: translateY(-200);
}

textarea {
  min-height: 8em;
}

input,
textarea {
  appearance: none;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #39454b;
  width: 50vw;
  padding: 1.4em 0em 1.4em 2em;
  background: none;
  border: solid 2px #e5e6e7;
  color: inherit;
  border-radius: 0.5em;
  outline: none;
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  border-color: #9ac8e9;
  line-height: 1.35em;
}

button {
  transition: background-color 0.2s ease-in-out;
  background-color: rgb(24, 42, 78);
  border: 0;
  border-radius: 3.5em;
  color: #ffffff;
  cursor: pointer;
  /* 
  display: flex;
  flex-direction: column;
  align-items: center; */

  height: 3.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;

  position: relative;
  text-align: center;
  width: 15vw;
}

/* Footer */

#footer {
  width: 100%;
  background: rgb(24, 42, 78);
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px;
}
#footer ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0em 35%;
  margin: 0;
}

#footer li {
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
}

#footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
